{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit, amet consectetur Poblox Rorn. Consequuntur reiciendis minus aspernatur fugit, vero minima expedita ut numquam nam, inventore ipsam enim. Tempora et quibusdam dolorum autem sed quisquam eveniet perferendis obcaecati dolorem voluptatem, debitis quos expedita quis voluptas ab quia quam at unde praesentium laudantium. Perspiciatis sit culpa dolorem quaerat in! Non ipsum maiores eius sed quo ab delectus, placeat modi accusantium ipsam repellat quod deleniti?</p>

<p>Website created by {{ username }}</p>

{% endblock %}